anyio==4.11.0
arrow==1.4.0
asgiref==3.11.0
attrs==25.4.0
Automat==25.4.16
beautifulsoup4==4.14.3
binaryornot==0.4.4
bleach==6.3.0
certifi==2025.11.12
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
constantly==23.10.4
cookiecutter==2.6.0
cryptography==46.0.3
cssselect==1.3.0
defusedxml==0.7.1
Django==5.2.8
django-admin-interface==0.31.1
django-appconf==1.2.0
django-colorfield==0.14.0
django-filter==25.2
django-mdeditor==0.1.20
django-rest-framework==0.1.0
django-select2==8.4.3
django-summernote==0.8.20.0
django-tailwind==4.4.1
djangorestframework==3.16.1
Faker==38.2.0
filelock==3.20.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
itemadapter==0.12.2
itemloaders==1.3.2
Jinja2==3.1.6
jmespath==1.0.1
keyboard==0.13.5
lxml==6.0.2
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
nodeenv==1.9.1
oauthlib==3.3.1
packaging==25.0
parsel==1.10.0
pillow==12.0.0
Protego==0.5.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
PyDispatcher==2.0.7
Pygments==2.19.2
PyJWT==2.10.1
pyOpenSSL==25.3.0
pytailwindcss==0.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-slugify==8.0.4
python3-openid==3.2.0
PyYAML==6.0.3
queuelib==1.8.0
requests==2.32.5
requests-file==3.0.1
requests-oauthlib==2.0.0
rich==14.2.0
Scrapy==2.13.4
service-identity==24.2.0
six==1.17.0
sniffio==1.3.1
social-auth-app-django==5.6.0
social-auth-core==4.8.1
soupsieve==2.8
sqlparse==0.5.3
text-unidecode==1.3
tldextract==5.3.0
Twisted==25.5.0
typing_extensions==4.15.0
tzdata==2025.2
Unidecode==1.4.0
urllib3==2.5.0
w3lib==2.3.1
webencodings==0.5.1
zope.interface==8.1.1
