{% load static %}
<footer class="py-5 bg-dark text-light">
    <div class="container">
        <div class="row">

            <div class="col-6 col-md-2 mb-3">
                <h5>کاربردی برای توسعه</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{% url 'core:home-page' %}"
                            class="nav-link p-0 text-secondary">خانه</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'blog:articles' %}"
                            class="nav-link p-0 text-secondary">بلاگ</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">توسعه پروژه</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">تمرین ها</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">پرسش و پاسخ</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">کاربران</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">ای پی آی</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>لینک های کمکی</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">درباره ما</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">تماس با ما</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">پشتیبانی</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">سوال های متداول</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">خدمات</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">حریم خصوصی</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">قوانین و مقررات</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>با ما در ارتباط باشید!</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="https://github.com/aboalfazlH"
                            class="nav-link p-0 text-secondary">گیتهاب</a></li>
                    <li class="nav-item mb-2"><a href="https://eitaa.com/developlab"
                            class="nav-link p-0 text-secondary">کانال ایتا</a></li>
                    <li class="nav-item mb-2"><a href="https://ble.ir/developlab"
                            class="nav-link p-0 text-secondary">کانال بله</a></li>
                    <li class="nav-item mb-2"><a href="https://ble.ir/helpdeveloplab"
                            class="nav-link p-0 text-secondary">کانال یدکی بله</a></li>
                    <li class="nav-item mb-2"><a href="https://rubika.ir/developlab"
                            class="nav-link p-0 text-secondary">روبیکا</a></li>
                    <li class="nav-item mb-2"><a href="https://ble.ir/developlabbot"
                            class="nav-link p-0 text-secondary">ربات بله</a></li>
                    <li class="nav-item mb-2"><a href="https://ble.ir/developlabsupportbot"
                            class="nav-link p-0 text-secondary">ربات پشتیبانی بله</a></li>
                </ul>
            </div>

            <div class="col-md-5 offset-md-1 mb-3">
                <h2>
                    توسعه میتونه ساده تر از این باشه
                </h2>
                <span>
                    هدف ما اینه به توسعه شما سرعت ببخشیم،از دوره های آموزشی و وبلاگ گرفته تا api و مخزن گیت و هاست.
                    {% if user.is_authenticated %}
                    {{ user.get_fullname }} اگر پیشنهادی داری،<a href="#">با ما در میان بگذار</a>
                    {% else %}
                    اگه شگفت زده شدی،<a href="{% url 'sign-up' %}">همین الان شروع کن!</a>
                    {% endif %}

                </span>
            </div>

        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top border-secondary">
            <p class="m-0">&copy; {% now "Y" %} تمام <a href="#">حقوق</a> محفوظ است. </p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis text-light" href="https://eitaa.com/developlab"
                        aria-label="Eitaa"><img height="50" width="50" src="{% static 'images/eitaa.png' %}"
                            alt="Eitaa channel"></a></li>
                <li class="ms-3"><a class="link-body-emphasis text-light" href="https://ble.ir/developlab"
                        style="position: relative;top: 4.5px;" aria-label="Bale"><img height="40" width="40"
                            src="{% static 'images/bale.png' %}" alt="Bale Channel"></a></li>
            </ul>
        </div>
    </div>
</footer>