@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
}

html,
body {
  background-color: #f6f8fa;
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: "Vazir", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  behavior: "smooth";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

li {
  list-style: none;
}
