{% extends 'base/base.html' %}
{% block title %}درباره ما{% endblock title %}
{% block content %}
<h2>هدف تیم ما،اینه که توسعه رو برای شما راحت تر کنیم</h2>
<p>سه چیز وجود داره،کد نویسی،برنامه نویسی و توسعه.کد نویس کسی هست هدف خاصی نداره و فقط کد هارو حفظ میکنه،اما برنامه نویس
    کسی هست که با معنی کد میزنه و توسعه دهنده،کسی هست که برنامه هاشو به حالت اجرا دربیاره <b>ما هم میخوایم توسعه رو
        براتون راحت تر کنیم</b>
</p>
<h3>
    گروه ما
</h3>

{% for personnel in personnels %}
<h4>{{ personnel }}</h4>
{% endfor %}

{% endblock content %}