{% extends "base/base.html" %}
{% load static %}

{% block title %}لیست سوال‌ها{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/questions.css' %}">
{% endblock styles %}

{% block content %}
<div class="container my-5">
    <h3 class="mb-4">سوال‌ها</h3>
    
    {% if user.is_authenticated %}
    <a href="{% url 'qa:question-create' %}" class="btn btn-primary">تو هم بپرس</a>
    <hr>
    {% endif %}
    <div class="row">
        {% for question in questions %}
        <div class="col-md-12 mb-3" onclick="window.location='{{ question.get_absolute_url }}'">
            <div class="card p-3 d-flex flex-row align-items-start" >
                <!-- Vote -->
                <div class="vote-box">
                    <div class="vote-btn">▲</div>
                    <div>{{ question.upvotes|default:0 }}</div>
                    <div class="vote-btn">▼</div>
                </div>

                <!-- Question Info -->
                <div class="flex-grow-1">
                    <h5><a href="{{ question.get_absolute_url }}">{{ question.name }}</a></h5>
                    <p class="text-muted mb-1">پرسش توسط <strong>{{ question.author }}</strong> در {{ question.write_date|date:"M d, Y" }}</p>
                    <div class="mb-1">
                        {% for category in question.categories.all %}
                            <span class="badge bg-primary category-badge">{{ category.name }}</span>
                        {% endfor %}
                    </div>
                    <div class="d-flex gap-2 flex-wrap">
                        {% if question.is_active %}<span class="badge bg-success">فعال</span>{% else %}<span class="badge bg-secondary">غیرفعال</span>{% endif %}
                        {% if question.solved %}<span class="badge bg-success">حل شده</span>{% else %}<span class="badge bg-warning text-dark">حل نشده</span>{% endif %}
                        {% if question.is_pin %}<span class="badge bg-info text-dark">ویژه</span>{% endif %}
                        <span class="badge bg-light text-dark">{{ question.answers.count }} پاسخ</span>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>هیچ سوالی ثبت نشده است.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
